<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AnimationWorkings.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>358063A21BF38D43003CB9D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>358063B61BF38D43003CB9D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>358063C11BF38D43003CB9D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
